<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <div th:fragment="header(currentPage)">
    	
    	<!DOCTYPE HTML>
		<html xmlns:th="http://www.thymeleaf.org">
		<head>
			<title>Track Invest</title>
			<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
			
			<!-- CSS only -->
			<link rel="stylesheet"
				href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
				integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
				crossorigin="anonymous">
				
			<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" 
				integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" 
				crossorigin="anonymous">
		</head>
		<body>
			<nav class="navbar navbar-expand-lg navbar-light bg-light mb-5">
			  <a class="navbar-brand" href="/">Track Invest</a>
			  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			    <span class="navbar-toggler-icon"></span>
			  </button>
			
			  <div class="collapse navbar-collapse" id="navbarSupportedContent">
			    <ul class="navbar-nav mr-auto">
			      <li class="nav-item" th:classappend="${currentPage == 'upperLimit' ? 'active':''}">
			        <a class="nav-link" th:href="@{/}">Preço Teto<span class="sr-only">(current)</span></a>
			      </li>
			      <li class="nav-item" th:classappend="${currentPage == 'upperLimitList' ? 'active':''}">
			        <a class="nav-link" th:href="@{/upper-limit/list}">Preço Teto Lista</a>
			      </li>
			  </div>
			</nav>
    </div>
  </body>
</html>