<div th:replace="shared/header :: header(upperLimit)"></div>

<div class="container container-sm-fluid">
	
	<noscript>
		<h4 style="color: #ff0000">Esse navegador não suporta ou está com o Javascript desabilitado</h4>
	</noscript>

	<form id="trackForm" class="mt-3" th:action="@{/track}" method="post" th:object="${filter}">
		
		<div class="row">
			<div class="col-6 col-sm-4 col-md-3 col-lg-2">
				<div class="form-group">
					<label for="start" class="mb-0">Data Início</label>
					<input id="start" type="text" class="form-control" placeholder="Ano Início" th:field="*{dateStart}">
				</div>
			</div>
			
			<div class="col-6 col-sm-4 col-md-3 col-lg-2">
				<div class="form-group">
					<label for="end" class="mb-0">Data Fim</label>
					<input id="end" type="text" class="form-control" placeholder="Ano Fim" th:field="*{dateEnd}">		
				</div>
			</div>
			
			<div class="col-6 col-sm-4 col-md-3 col-lg-2">
				<div class="form-group">
					<label for="targetYield" class="mb-0">Dividendo Alvo</label>
					<input id="targetYield" type="text" class="form-control" placeholder="Dividendo Alvo" th:field="*{targetYield}">
				</div>
			</div>
			
			<div class="col-6 col-sm-4 col-md-3 col-lg-2 mt-sm-4 pl-5">
				<div class="form-check">
					<input class="form-check-input" type="checkbox" id="groupCheck" th:field="*{group}">
				    <label class="form-check-label" for="groupCheck">Agrupar</label>
				</div>
			</div>
			
			<div class="col-6 col-sm-4 col-md-3 col-lg-2">
				<div class="form-group">
					<label for="stock" class="mb-0">Ação</label>
					<input id="stock" type="text" class="form-control text-uppercase" placeholder="Ação" th:field="*{stock}" autofocus>
				</div>
			</div>
			
			<div class="col-6 col-sm-4 col-md-3 col-lg-2 mt-sm-4">
				<button class="btn btn-primary" type="submit">Pesquisar</button>
			</div>
		</div>
	</form>

	<div class="card mt-3" th:if="${result}">
	  <div class="card-body">
	  	
	  	<form class="form-inline" th:object="${result}">
	  	
	  		<label class="mr-2">Total Proventos:&nbsp;<span class="font-weight-bold" th:text="*{total}"></span></label>
	  		
			<label class="mr-2">Média Proventos:&nbsp;<span class="font-weight-bold mt-3 mt-sm-0" th:text="*{average}"></span></label>
			
			<label class="mr-2">Yield Médio:&nbsp;<span class="font-weight-bold mt-3 mt-sm-0" th:text="*{averageYield}"></span>%</label>
			
			<label class="mr-2">Preço Atual:&nbsp;R$&nbsp;<span class="font-weight-bold mt-3 mt-sm-0" th:text="*{price}"></span></label>
			
			<label class="mr-2">Preço Teto:&nbsp;R$&nbsp;<span class="font-weight-bold mt-3 mt-sm-0" th:text="*{limitPrice}"></span></label>
			
			<label style="padding: 5px 10px 5px 10px" th:class="${result.difference > 2} ? 'bg-success' : (${result.difference > -2} ? 'bg-warning' : 'bg-danger')">Margem:&nbsp;R$&nbsp;<span class="font-weight-bold mt-3 mt-sm-0" th:text="*{difference}"></span></label>
			
		</form>
	  	
	  </div>
	</div>
	
	<tr th:if="!${yields.empty}">
		<div id="chart-container"></div>
	</tr>

	<table class="table table-bordered table-striped mt-3">
		<thead>
			<tr>
				<th>Data</th>
				<th>Valor</th>
				<th>Tipo</th>
			</tr>
		</thead>
		<tbody>
			<tr th:if="${yields.empty}">
				<td colspan="3" class="text-center">No Yields Available</td>
			</tr>
			<tr th:each="yield : ${yields}">
				<td class="date"><span th:text="${yield.presentationDate}"></span></td>
				<td class="value"><span th:text="${yield.value}"></span></td>
				<td><span th:text="${yield.type}"></span></td>
			</tr>
		</tbody>
	</table>

</div>

<div th:replace="shared/footer :: footer"></div>

<script>
	var chartData = [];
	chartData.push(['Year', 'Dividend']);
	
	$($('table tbody tr').get().reverse()).each(function( index ) {
	
		var date = $( this ).find('.date').text();
		var value = $( this ).find('.value').text();
		
		if(date != "" && value != NaN){
			chartData.push([date, parseFloat(value)]);	
		}
	});

	//Load the Visualization API and the corechart package.
	google.charts.load('current', {'packages':['corechart']});

	if(chartData.length > 1){
		// Set a callback to run when the Google Visualization API is loaded.
		google.charts.setOnLoadCallback(drawChart);
	}
	
	// Callback that creates and populates a data table,
    // instantiates the pie chart, passes in the data and
    // draws it.
    function drawChart() {

    	// Define the chart to be drawn.
        var data = google.visualization.arrayToDataTable(chartData);

        var options = {
        		
        }; 

        // Instantiate and draw the chart.
        var chart = new google.visualization.ColumnChart(document.getElementById('chart-container'));
        chart.draw(data, options);
    }
</script>