<div th:replace="shared/header :: header"></div>

<div class="container-fluid container-sm">
	
	<noscript>
		<h4 style="color: #ff0000">Esse navegador não suporta ou está com o Javascript desabilitado</h4>
	</noscript>

	<div th:replace="/pages/upper-limit/track-filter :: filter(@{/track})"></div>	

	<div class="card mt-3" th:if="${result}">
	  <div class="card-body">
	  	
	  	<form class="form-inline" th:object="${result}">
	  	
	  		<label class="mr-2">Total Proventos:&nbsp;<span class="font-weight-bold" th:text="*{total}"></span></label>
	  		
			<label class="mr-2">Média Proventos:&nbsp;<span class="font-weight-bold mt-3 mt-sm-0" th:text="*{average}"></span></label>
			
			<label class="mr-2">Yield Médio:&nbsp;<span class="font-weight-bold mt-3 mt-sm-0" th:text="*{averageYield}"></span>%</label>
			
			<label class="mr-2">Preço Atual:&nbsp;R$&nbsp;<span class="font-weight-bold mt-3 mt-sm-0" th:text="*{price}"></span></label>
			
			<label class="mr-2">Preço Teto:&nbsp;R$&nbsp;<span class="font-weight-bold mt-3 mt-sm-0" th:text="*{limitPrice}"></span></label>
			
			<label style="padding: 5px 10px 5px 10px" th:class="${result.difference > 2} ? 'bg-success' : (${result.difference > -2} ? 'bg-warning' : 'bg-danger')">Margem:&nbsp;R$&nbsp;<span class="font-weight-bold mt-3 mt-sm-0" th:text="*{difference}"></span></label>
			
		</form>
	  	
	  </div>
	</div>

	<table class="table table-bordered table-striped mt-3">
		<thead>
			<tr>
				<th>Data</th>
				<th>Valor</th>
				<th>Tipo</th>
			</tr>
		</thead>
		<tbody>
			<tr th:if="${yields.empty}">
				<td colspan="3" class="text-center">No Yields Available</td>
			</tr>
			<tr th:each="yield : ${yields}">
				<td><span th:text="${yield.presentationDate}"></span></td>
				<td><span th:text="${yield.value}"></span></td>
				<td><span th:text="${yield.type}"></span></td>
			</tr>
		</tbody>
	</table>

</div>

<div th:replace="shared/footer :: footer"></div>
